<div class="accordion-item">
  <h2 class="accordion-header" id="headingControls">
    <button class="outer accordion-button collapsed fs-6" type="button" data-bs-toggle="collapse"
      data-bs-target="#collapseControls" aria-expanded="false" aria-controls="collapseControls">
      <i class="bi bi-menu-button-wide me-2 fs-5"></i>Steuerung
      <i class="bi bi-info-circle info me-3 fs-5 " role="tooltip" data-bs-toggle="tooltip" data-bs-placement="right" title="Hier kann die Karten-Steuerung (z.B. Suche, Maßstabsleiste ) ein- und ausgeschaltet werden"></i>
    </button>
  </h2>
  <div id="collapseControls" class="accordion-collapse collapse" aria-labelledby="headingControls"
    data-bs-parent="#accordionSidebar">
    <div class="accordion-body">
      @for (control of this.mapService.controls; track control; let i = $index) {
        <div class="form-check form-switch"
          (click)="this.mapService.toggleControl(control)">
          <input class="form-check-input" type="checkbox" [checked]="control.visible">
          <label class="form-check-label">{{control.name}}</label>
        </div>
      }
    </div>
  </div>
</div>
