<app-navigation></app-navigation>
<app-map></app-map>
<div class="modal" tabindex="-1" id="externModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Externen Stil einbinden</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <input class="form-control my-2" type="text" id="externalStyleURL"  placeholder="Link zu einem Stil">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Abbrechen</button>
          <button id="addExternalStyleBtn" type="button" class="btn btn-primary" data-bs-dismiss="modal">Übernehmen</button>
        </div>
      </div>
    </div>
  </div>
