<div id="map" #map></div>
<div id="render-map" style="display: none;">
    <div class="extra-top d-flex justify-content-between align-items-top">
        <div>
            <h2 class="header" style="margin: 0;"></h2>
            <h5 class="description" style="margin: 0;"></h5>
        </div>
        <img style="height: 90%;">
    </div>
    <div class="render-container" style="border: 1px solid black;"></div>
    <div class="extra-bottom d-flex justify-content-between align-items-center w-100">
        <div class="scale"></div>
        <div class="copyright"></div>
    </div>
</div>