<div class="accordion-item">
    <h2 class="accordion-header" id="headingDownload">
        <button class="outer accordion-button collapsed fs-6" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseDownload" aria-expanded="false" aria-controls="collapseDownload">
            <i class="bi bi-download me-2 fs-5"></i>Download
            <i class="bi bi-info-circle info me-3 fs-5 " role="tooltip" data-bs-toggle="tooltip" data-bs-placement="right" title="Hier kann der angepasste Style als JSON-Datei heruntergeladen werden."></i>
        </button>
    </h2>
    <div id="collapseDownload" class="accordion-collapse collapse" aria-labelledby="headingDownload"
        data-bs-parent="#accordionSidebar">
        <div class="accordion-body">
            <button (click)="downloadStyle()"  class="btn btn-primary w-100"><i
                class="bi bi-download me-2"></i>Kartenstil speichern</button>
        </div>
    </div>
</div>
